<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping</title>
    <link rel="stylesheet" href="../css/web-addons.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div id="container">
        <header class="bg-navy">
            <nav id="menu">
                <div id="three-lines">
                    <div id="three-lines-1" class="three-lines"></div>
                    <div id="three-lines-2" class="three-lines"></div>
                    <div id="three-lines-3" class="three-lines"></div>
                </div>

                <ul id="menu-content">
                    <li class="menu-items"><a href="index.html">Home</a></li>
                    <li class="menu-items"><a href="index.html">Products</a></li>
                    <li class="menu-items"><a href="checkout.html">Checkout</a></li>
                    <li class="menu-items"><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <p class="main_title">CHECKOUT</p>
            <section id="dspShoppingCart">
                <article>
                    <table id="tbShoppingCart">
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>X</th>
                        </tr>
                    </table>
                </article>
            </section>

            <section id="dspCheckout">
                <article>
                    <table id="tbCheckout">
                        <tr>
                            <th colspan="2">CUSTOMER INFORMATION</th>
                        </tr>
                        <tr>
                            <td><label for="txtFirstname">First name</label></td>
                            <td><input id="txtFirstname" type="text"></td>
                        </tr>
                        <tr>
                            <td><label for="txtLastname">Last name</label></td>
                            <td><input id="txtLastname" type="text"></td>
                        </tr>
                        <tr>
                            <td><label for="txtEmail">Email</label></td>
                            <td><input id="txtEmail" type="text"></td>
                        </tr>
                        <tr>
                            <td><label for="txtPhoneNumber">Phone number</label></td>
                            <td><input id="txtPhoneNumber" type="text"></td>
                        </tr>
                        <tr>
                            <td><label for="txtAddress">Street address</label></td>
                            <td><input id="txtAddress" type="text"></td>
                        </tr>
                        <tr>
                            <td><label for="txtZipCode">Zip code</label></td>
                            <td><input id="txtZipCode" type="text"></td>
                        </tr>
                        <tr>
                            <td><label for="txtCity">City</label></td>
                            <td><input id="txtCity" type="text"></td>
                        </tr>
                        <tr>
                            <td><label for="txtComments">Comments</label></td>
                            <td><textarea name="" id="txtComments" cols="30" rows="10"></textarea></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button id="btnCheckout">Checkout</button></td>
                        </tr>
                    </table>
                </article>
            </section>
        </main>

        <footer class="footer">
            <p class="footer_text">Created by Khoi Le - 2018-02</p>
        </footer>
    </div>


    <!-- Scripts -->
    <script src="../scripts/global.js"></script>
    <script src="../scripts/common.js"></script>
    <script src="../scripts/checkout.js"></script>
</body>
</html>