<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple webshop</title>
    <link rel="stylesheet" href="../css/web-addons.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div id="container">
        <header class="bg-navy">
            <nav id="menu">
                <div id="three-lines">
                    <div id="three-lines-1" class="three-lines"></div>
                    <div id="three-lines-2" class="three-lines"></div>
                    <div id="three-lines-3" class="three-lines"></div>
                </div>

                <ul id="menu-content">
                    <li class="menu-items"><a href="index.html">Home</a></li>
                    <li class="menu-items"><a href="index.html">Products</a></li>
                    <li class="menu-items"><a href="checkout.html">Checkout</a></li>
                    <li class="menu-items"><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <p class="main_title">PRODUCTS</p>
            <section id="dspProductList">

            </section>
        </main>

        <footer class="footer">
            <p class="footer_text">Created by Khoi Le - 2018-02</p>
        </footer>
    </div>


    <!-- Scripts -->
    <script src="../scripts/global.js"></script>
    <script src="../scripts/common.js"></script>
    <script src="../scripts/home.js"></script>
</body>
</html>